include includes/mixins
extends layout


block jumbo
  .jumbotron
    .container
      div#wrapper.row
          p BOLO Details Preview
          a.btn.btn-default( type = "button" value = "back" onClick="history.go(-1);return true;") Back to Create BOLO

block content
    include ./partials/global-alerts.jade

    div.container-fluid#boloPage
        div.row
            - var att_route = '/agency/' + bolo.data.agency + '/img';
            div.col-xs-2.col-md-2
              img#logo.img-fluid( src=att_route + '/logo' alt="", width=150, height=175 )
            div.col-xs-8
              p.text-danger.strong #{"UNCLASSIFIED// FOR OFFICIAL USE ONLY// LAW ENFORCEMENT SENSITIVE"}
              p.strong #{agency_name} Police Department
              p
                em #{agency_address}
              p
                em #{agency_city}, #{agency_state}. #{agency_zip}
              p
                em #{agency_phone}
            div.col-xs-2#badge
              img#badge.img-fluid( src=att_route + '/shield' alt="", width=150, height=180)
        div.text-center
          h1.text-danger.strong #{bolo.data.category}
        | &nbsp;
        | &nbsp;
        div.row
            div.col-xs-4#featured
                p.text-center.text-danger.strong #{bolo.data.status}
                if(buffer)
                  img#featured.img-fluid( src='data:image/jpg;base64,#{buffer}' width=400 )
                else
                  img#featured.img-fluid( src="/img/nopic.png" alt="", width=400 )
                p.strong Created: #{bolo.data.createdOn}


            div.col-xs-8#boloDetails
                form.form-horizontal
                +form_labels_row("Bolo ID", "XYZ000" )

                if bolo.data.dateReported.length
                  +form_labels_row("Date Reported", bolo.data.dateReported, bolo.data.dateReported?"":"hidden")
                if bolo.data.timeReported.length
                  +form_labels_row("Time Reported", bolo.data.timeReported, bolo.data.timeReported?"":"hidden")

                if bolo.data.authorFName != null || bolo.data.authorLName != null
                  +form_labels_row("Author", bolo.data.authorFName + " " +  bolo.data.authorLName )

                div.col-xs-12.h5.text-danger.strong VESSEL

                if bolo.data.boatYear.length
                   +form_labels_row("Year", bolo.data.boatYear, bolo.data.boatYear?"":"hidden")
                if bolo.data.boatManufacturer.length
                   +form_labels_row("Manufacturer", bolo.data.boatManufacturer, bolo.data.boatManufacturer?"":"hidden")
                if bolo.data.boatModel.length
                   +form_labels_row("Model", bolo.data.boatModel, bolo.data.boatModel?"":"hidden")
                if bolo.data.boatType.length
                   +form_labels_row("Type", bolo.data.boatType, bolo.data.boatType?"":"hidden")
                if bolo.data.boatLenght != "Select an option..."
                   +form_labels_row("Length", bolo.data.boatLength, bolo.data.boatLength?"":"hidden")
                if bolo.data.boatColor.length
                   +form_labels_row("Color", bolo.data.boatColor, bolo.data.boatColor?"":"hidden")
                if bolo.data.boatHullIdNumber.length
                   +form_labels_row("Hull Id Number", bolo.data.boatHullIdNumber, bolo.data.boatHullIdNumber?"":"hidden")

                div.row
                   div.col-xs-12
                      if bolo.data.boatRegistrationNumberSt != '' || bolo.data.boatRegistrationNumberNu != ""
                         +form_labels_row("Registration Number", bolo.data.boatRegistrationNumberSt + " " +  bolo.data.boatRegistrationNumberNu )

                div.col-xs-12.h5.text-danger.strong PROPULSION

                if bolo.data.propulsion != "N/A"
                   +form_labels_row("Propulsion", bolo.data.propulsion, bolo.data.propulsion?"":"hidden")
                if bolo.data.propulsionType != "Select an option..."
                   +form_labels_row("Type", bolo.data.propulsionType, bolo.data.propulsionType?"":"hidden")
                if bolo.data.propulsionMake != "Select an option..."
                   +form_labels_row("Make", bolo.data.propulsionMake, bolo.data.propulsionMake?"":"hidden")

                div.col-xs-12.h5.text-danger.strong TRAILER

                if bolo.data.trailer != "Select an option..."
                   +form_labels_row("Trailer", bolo.data.trailer, bolo.data.trailer?"":"hidden")
                if bolo.data.trailerManufacturer != "Select an option..."
                   +form_labels_row("Manufacturer", bolo.data.trailerManufacturer, bolo.data.trailerManufacturer?"":"hidden")
                if bolo.data.trailerVIN.length
                   +form_labels_row("Vehicle Identification Number", bolo.data.trailerVIN, bolo.data.trailerVIN?"":"hidden")
                div.row
                   div.col-xs-12
                      if bolo.data.trailerTagLicenseState != '' || bolo.data.trailerTagLicenseNumber != ''
                         +form_labels_row("Tag License Plate", bolo.data.trailerTagLicenseState + " " +  bolo.data.trailerTagLicenseNumber )

            div.row
              div.col-xs-8
            div.row
              div.col-xs-4
            form.form-horizontal
            | &nbsp;
            p.strong Additional Info:
            if bolo.data.additional.length
              p #{bolo.data.additional}
            else
              | &nbsp;
            | &nbsp;
            if bolo.data.video_url.length
              p.strong Video Link:
              a(href=bolo.data.video_url) #{bolo.data.video_url}
              p
            | &nbsp;
            p.strong Summary:
            if bolo.data.summary.length
              p #{bolo.data.summary}
            else
              | &nbsp;
            if bolo.data.authorFName != null || bolo.data.authorLName != null
                  p.strong This BOLO was created by #{sectunit}  #{ranktitle} #{bolo.data.authorFName} #{bolo.data.authorLName}.
                  p.strong Please contact the agency should clarification be required.
