extends layout


block jumbo
    .jumbotron
        .container
            div#wrapper
                div.col-xs-1.col-md-10
                    p Active BOLOs
                div.col-xs-1.dropdown
                    button.btn.btn-default(type="button" data-toggle="dropdown") Filter By
                        span.caret
                    ul.dropdown-menu(role="menu" id="parent-menu" aria-labelledby="dropdownMenu")
                        -var dimensions = "width: 210px; margin: 0 auto;"
                        a.btn.btn-default(href="/bolo/mybolos" style=dimensions) My Bolos
                        a.btn.btn-default(href="/bolo/agency/" + userAgency.id name="agencyID" style=dimensions) My Agency
                        a.btn.btn-default(href="/bolo/" style=dimensions) All Bolos     
                div.pull-right     
                    form-inline(role="form" action="/admin/users/create" enctype="multipart/form-data" method="post" )
                        div.input-group
                            span.input-group-btn
                                select.selectpicker(multiple title="Select Agencies" data-width="160px")
                                    for agency in agencies
                                        //if(agency.id !== userAgency.id)
                                        option(value=agency.name ) #{agency.name}
                            button.btn.btn-default(type = "submit" value = "send" id="submit-select") Submit
                                        script.
                                              var agencies = [];
                                              $('.selectpicker').change(function(){
                                                  agencies = $('.selectpicker').val();
                                                  console.log(agencies);
                                                })
                                              $('#submit-select').click(function(e){
                                                  console.log(agencies);
                                                  console.log("CLICKED")
                                                  
                                                  if(agencies.length > 0){
                                                      $.ajax({
                                                        url: '/bolo/agencies',
                                                        type: 'GET',
                                                        data: {agencies},
                                                        success: function(response){
                                                          console.log("Redirecting")
                                                          console.log()
                                                          window.location.href = '/bolo/agencies';
                                                        }
                                                      })
                                                    }
                                                  })
                                          
                                            
                      
                            
                                                
block content
    include ./partials/global-alerts.jade
        h2 #{filter}
    if bolos && 0 === bolos.length
        p.lead No active BOLOs at this time.

    .row
        for bolo in bolos
            if bolo && bolo.confirmed === true
                include ./partials/bolo-thumbnail.jade
                    .actions
                        a.btn.btn-default( href="/bolo/edit/" + bolo.id, role="button" ) Edit
                        a.btn.btn-default( href="/bolo/details/" + bolo.id role="button" ) Details
                        a.btn.btn-warning( href="/bolo/archive/" + bolo.id role="button" onclick="return confirm('Are you sure you want to archive this bolo?')"
                        ) Archive


    .row.text-center
        - var route = '/bolo'
        include ./partials/paging.jade
