extends ./layout.jade
include ./includes/mixins.jade


block jumbo
    .jumbotron
        .container
            p Update BOLO Details
            button.btn.btn-primary(onclick='history.go(-1);') Go Back


block content
    include ./partials/global-alerts.jade

    include ./partials/bolo-options.jade

    .row
        .col-md-6
            .panel.panel-default
                .panel-heading: h3.panel-title Details
                .panel-body
                    p <b>Author:</b> #{bolo.authorFName} #{bolo.authorLName}
                    p <b>Agency:</b>
                       a( href="/agency/" + agency.id target="_blank" ) #{agency.name}
                    p <b>Created:</b> #{bolo.createdOn}
                    p <b>Updated:</b> #{bolo.lastUpdatedOn}

    form( action="/bolo/edit/" + bolo.id enctype="multipart/form-data" method="post" )
        input( type="hidden" name="id" value=bolo.id )
        input( type="hidden" name="record" value=bolo.record)
        input( type="hidden" name="agencyName" value=bolo.agencyName)
        input( type="hidden" name="dateReported" value=bolo.data.dateReported )
        input( type="hidden" name="timeReported" value=bolo.data.timeReported )

        +select_options( "status", "Status", bolo_status_theft, false, bolo.status )

        .row
            .col-md-6
                +input_text( "dateRecovered", "Date Recovered (DD/MM/YYYY)", "", false, bolo.dateRecovered )
            .col-md-6
                +input_text( "timeRecovered", "Time Recovered (HH:MM)", "", false, bolo.timeRecovered )


        +input_text( "addressRecovered", "Address Recovered", "", false, bolo.addressRecovered )

        .row
            .col-md-6
                +input_text( "zipCodeRecovered", "Zip Code", "", false, bolo.zipCodeRecovered )
            .col-md-6
                +input_text( "agencyRecovered", "Agency", "", false, bolo.agencyRecovered )

        +input_text_static( "category", "Category", "", false, "THEFT - BOAT")

        div.text-danger.strong.h4 Vessel

        +input_text( "boatYear", "Year", "", false, bolo.boatYear )
        +input_text( "boatManufacturer", "Manufacturer", "", false, bolo.boatManufacturer )
        +input_text( "boatModel", "Model", "", false, bolo.boatModel )
        +input_text( "boatType", "Type", "", false, bolo.boatType )
        +select_options( "boatLength", "Length - Feet", boatFeet, false, bolo.boatLength )
        +input_text( "boatColor", "Color", "", false, bolo.boatColor )
        +input_text( "boatHullIdNumber", "Hull Identification Number", "", false, bolo.boatHullIdNumber )
        .row
            .col-md-4
                +select_options( "boatRegistrationNumberSt", "Registration Number", states, false, bolo.boatRegistrationNumberSt )
            .col-md-8
                +input_text( "boatRegistrationNumberNu", "", "", false, bolo.boatRegistrationNumberNu )

        div.text-danger.strong.h4 Propulsion

        +select_options( "propulsion", "Propulsion", v_propulsion, false, bolo.propulsion )
        +select_options( "propulsionType", "Type", v_propulsion_type, false, bolo.propulsionType )
        +select_options( "propulsionMake", "Make", v_propulsion_make, false, bolo.propulsionMake )

        div.text-danger.strong.h4 Trailer

        +select_options( "trailer", "Trailer", v_trailer, false, bolo.trailer )
        +input_text( "trailerManufacturer", "Manufacturer", "", false, bolo.trailerManufacturer )
        +input_text( "trailerVIN", "Vehicle Identification Number", "", false, bolo.trailerVIN )
        .row
            .col-md-4
                +select_options( "trailerTagLicenseState", "Tag License Plate", states, false, bolo.trailerTagLicenseState )
            .col-md-8
                +input_text( "trailerTagLicenseNumber", "", "", false, bolo.trailerTagLicenseNumber )

        .form-group.row
            .col-md-4
                label.control-label( for="featured_image" ) Featured Image
                input( name="featured_image" type="file" accept="image/*" )

            .col-md-4
                label.control-label( for="image_upload[]" ) Image Upload
                input( name="image_upload[]" type="file" accept="image/*" )

            .col-md-4
                label.control-label( for="image_upload[]" ) Image Upload
                input( name="image_upload[]" type="file" accept="image/*" )

        .form-group
            label.control-label Remove Images
            table.table
                each name, uuid in bolo.images
                    - var img = "/bolo/asset/" + bolo.id + "/" + uuid
                    tr
                        td: input( type="checkbox" name="image_remove[]" value=uuid )
                        td: p
                            a( href=img target="_blank" ) #{name}
                            if 'featured' === uuid
                                i ( Featured Image )

        +input_text( "video_url", "Video Link", "", false, bolo.video_url, "url" )
        +input_textarea( "additional", "Additional Info", "", false, bolo.additional )
        +input_textarea( "summary", "Summary", "", false, bolo.summary )

        .form-group
            button.btn.btn-primary( type="submit" value="save" id= "buttonClickEdit" disabled = false ) Publish
            button.btn.btn-default( type="submit" disabled=true value="preview" ) Preview
            //button.btn.btn-default( type="submit" disabled=false value="pdf" ) PDF
