extends ./layout.jade
include ./includes/mixins.jade


block jumbo
    .jumbotron
        .container
            p Update BOLO Details
            button.btn.btn-primary(onclick='history.go(-1);') Go Back


block content
    include ./partials/global-alerts.jade

    include ./partials/bolo-options.jade

    .row
        .col-md-6
            .panel.panel-default
                .panel-heading: h3.panel-title Details
                .panel-body
                    p <b>Author:</b> #{bolo.authorFName} #{bolo.authorLName}
                    p <b>Agency:</b>
                       a( href="/agency/" + agency.id target="_blank" ) #{agency.name}
                    p <b>Created:</b> #{bolo.createdOn}
                    p <b>Updated:</b> #{bolo.lastUpdatedOn}

    form( action="/bolo/edit/" + bolo.id enctype="multipart/form-data" method="post" )
        input( type="hidden" name="id" value=bolo.id )
        input( type="hidden" name="record" value=bolo.record)
        input( type="hidden" name="agencyName" value=bolo.agencyName)
        input( type="hidden" name="dateReported" value=bolo.data.dateReported )
        input( type="hidden" name="timeReported" value=bolo.data.timeReported )

        +select_options( "status", "Status", bolo_status_theft, false, bolo.status )

        .row
            .col-md-6
                +input_text( "dateRecovered", "Date Recovered (DD/MM/YYYY)", "", false, bolo.dateRecovered )
            .col-md-6
                +input_text( "timeRecovered", "Time Recovered (HH:MM)", "", false, bolo.timeRecovered )


        +input_text( "addressRecovered", "Address Recovered", "", false, bolo.addressRecovered )

        .row
            .col-md-6
                +input_text( "zipCodeRecovered", "Zip Code", "", false, bolo.zipCodeRecovered )
            .col-md-6
                +input_text( "agencyRecovered", "Agency", "", false, bolo.agencyRecovered )

        +input_text_static( "category", "Category", "", false, "THEFT - AUTO")

        +input_text( "vehicleYear", "Year", "", false,  bolo.vehicleYear )
        +select_options( "vehicleMake", "Make", vehicles_makes, false, bolo.vehicleMake  )
        +input_text( "vehicleModel", "Model", "", false,  bolo.vehicleModel )
        +select_options( "vehicleStyle", "Style", v_style, false, bolo.vehicleStyle )
        +input_text( "vehicleColor", "Color", "", false, bolo.vehicleColor )
        +input_text( "vehicleIdNumber", "Vehicle Identification Number", "", false,  bolo.vehicleIdNumber )
        .row
            .col-md-4
                +select_options( "vehicleLicenseState", "Tag License Plate", states, false, bolo.vehicleLicenseState )
            .col-md-8
                +input_text( "vehicleLicensePlate", "", "", false, bolo.vehicleLicensePlate )

        .form-group.row
            .col-md-4
                label.control-label( for="featured_image" ) Featured Image
                input( name="featured_image" type="file" accept="image/*" )

            .col-md-4
                label.control-label( for="image_upload[]" ) Image Upload
                input( name="image_upload[]" type="file" accept="image/*" )

            .col-md-4
                label.control-label( for="image_upload[]" ) Image Upload
                input( name="image_upload[]" type="file" accept="image/*" )

        .form-group
            label.control-label Remove Images
            table.table
                each name, uuid in bolo.images
                    - var img = "/bolo/asset/" + bolo.id + "/" + uuid
                    tr
                        td: input( type="checkbox" name="image_remove[]" value=uuid )
                        td: p
                            a( href=img target="_blank" ) #{name}
                            if 'featured' === uuid
                                i ( Featured Image )

        +input_text( "video_url", "Video Link", "", false, bolo.video_url, "url" )
        +input_textarea( "additional", "Additional Info", "", false, bolo.additional )
        +input_textarea( "summary", "Summary", "", false, bolo.summary )

        .form-group
            button.btn.btn-primary( type="submit" value="save" id= "buttonClickEdit" disabled = false ) Publish
            button.btn.btn-default( type="submit" disabled=true value="preview" ) Preview
            //button.btn.btn-default( type="submit" disabled=false value="pdf" ) PDF
