extends ./admin-layout.jade


block jumbo-desc
    p Admin Portal: Data Subscriber Management Directory


block admin-content
    - var route = '/admin/dataSubscriber'

    p.lead Total Subscribers: #{dataSubscribers.length}

    table.table.table-striped
        thead
            tr
                th ID
                th Name
                th Email
                th
        tbody
            for dataSubscriber in dataSubscribers
                tr
                    td  #{dataSubscriber.dataSubscriber_id}
                    td  #{dataSubscriber.name}
                    td  #{dataSubscriber.email}
                    if(dataSubscriber.isActive === false)
                        td.text-warning disabled
                    td: a( href=route + "/edit/" + dataSubscriber.id role="button" )
                        span.glyphicon.glyphicon-cog( aria-hidden="true" )

    a.btn.btn-default( href=route + "/create") Add New Data Subscriber
