extends ./admin-layout.jade
include ./includes/mixins.jade


block jumbo-desc
    p Edit User Details


block admin-content
    - var route = "/admin/users/" + user.id;

    if (tier === 'ROOT' || tier === 'ADMINISTRATOR')
        if(user.accountStatus2 === true)
            div.col-xs-12
                button#activation.btn.btn-success.pull-right(
                type='submit'
                style='margin-bottom:25px;'
                ) Activate User
        else
            div.col-xs-12
                button#activation.btn.btn-danger.pull-right(
                type='submit'
                style='margin-bottom:25px;'
                ) Deactivate User
        script.
            $('#activation').click(function (data) {
                var res = data.toElement.getAttribute('class').indexOf('btn-danger');
                if (res !== -1)
                    var result = confirm('Deactivate User?');
                else
                    var result = confirm('Activate User?');
                if(result === true){
                    $.ajax({
                        url: '/admin/users/Activation',
                        type: 'POST',
                        data: {user: !{JSON.stringify(user)}},
                        dataType: 'json',
                        success: function (data) {
                            console.log('redirect');
                            if (typeof data.redirect == 'string')
                                window.location = data.redirect;
                        }
                    })
                }
            });

    h3 Username: #{user.username} <br>

    form(action=route + "/edit-details" enctype="multipart/form-data" method="post")
        +input_text("fname", "First Name", "", true, user.fname)
        +input_text("lname", "Last Name", "", true,  user.lname)
        +input_text("email", "Email ", "", true, user.email)

        if ( roles )
            .form-group
                label.control-label(for="role") Role
                select.form-control(name="role")
                    each role in roles
                      if ( (tier === 'ROOT' )&&(  /root/i.test(role) ))
                        - var formattedRole = _.startCase( role.toLowerCase() );
                        - var sel = ( role === user.roleName() );
                        option(value=role, selected=sel) #{formattedRole}
                      else if ((  ! /root/i.test(role) ))
                       - var formattedRole = _.startCase( role.toLowerCase() );
                       - var sel = ( role === user.roleName() );
                       option(value=role, selected=sel) #{formattedRole}
        if ( agencies )
            .form-group
                label.control-label( for="agency" ) Agency
                select.form-control( name="agency" )
                    each agency in agencies
                        if ( agency.id === user.agency )
                            option( value=agency.id selected ) #{agency.name}
                        else
                            option( value=agency.id ) #{agency.name}


        +input_text("badge", "Badge No.", "", true,  user.badge)
        +input_text("sectunit", "Section / Unit", "", true, user.sectunit)
        +input_text("ranktitle", "Rank / Title", "", true, user.ranktitle)

        .form-group
            button.btn.btn-primary(type="submit" value="save") Submit
